		header{
			background-image: url("./../images/header.png");
			background-origin: border-box;
			background-repeat: no-repeat;
			width: max-width;
			height: 530px;
			margin: 0;
			border: 0;
			padding: 0;
		}
		.symbols{
			font-size: 20px;
		}
		.fab{
			margin: 5px;
			/*font-size: 15px;*/
			color: green;
		}
		.fa-phone,.Login,.fa-envelope-open{
			text-decoration: none;
			color: white;
			/*font-size: 15px;*/
			font-family: Brush Script m7;
		}
		.fa-facebook{
			margin-left: 7%;
		}
		.fa-envelope-open{
			margin-left: 30%;
		}
		.fa-phone{
			margin-left: 2%;
		}
		.Login{
			margin-left: 2%;
		}
		hr{
			display: block;
			color: ghostwhite;
  			margin-top: 0.5em;
  			margin-bottom: 0.5em;
  			margin-left: auto;
  			margin-right: auto;
  			border-style: dashed;
  			border-width: 1px;
		}
		.logo{
			margin-left: 7%;
			margin-top: 20px;
			/*margin-top: 0.5%;*/
		}
		p.restro_name{
			display: inline;
			color: green;
			padding-left: 2%;
			font-size: 30px;
			position: relative;
			top: -10px;
			font-family: sans-serif;
		}
		.navbar{
			display: inline;
			overflow: hidden;
		}
		.navbar a{
			text-decoration: none;
			color: white;
			float: right;
			font-size: 20px;
			overflow: hidden;
			padding: 20px 10px;
		}
		.dropdown{
			/*display: inline;*/
			overflow: hidden;
			float: right;
			
		}
		.dropdown .dropbtn{
			/*background: none;
			color: white;
			border: none;
			padding: 0;
			font: inherit;
			cursor: pointer;
			outline: inherit;*/
			font-size: 20px;  
  			border: none;
  			outline: none;
  			color: white;
 			padding: 20px 10px;
  			background-color: inherit;
  			font-family: inherit;
  			margin: 0;
		}
		.dropdown button, .dropdown-content a{
			font-size: 20px;	
		}
		.navbar a:hover, .dropdown:hover .dropbtn{
			background-color: black;
			color: white;
		}
		.dropdown_content{
			display: none;
			position: absolute;
		}
		.dropdown_content a{
			float: none;
			display: block;
			max-width: 100px;
			background-color: white;
			color: black;
			text-align: left;
			
		}
		.dropdown_content a:hover {
  			background-color:black;
  			color: whitesmoke;
		}
		.dropdown:hover .dropdown_content{
			display: block;
		}
		.info{
			color: papayawhip;
			font-family: 'Dancing Script', cursive;
			font-size: xx-large;
    		font-weight: 400;
			text-align: center;
			padding-top: 70px;
			}
		.secondinfo{
			color: floralwhite;
			font-family: Times New Roman;
			font-size: 60px;
			text-align: center;
			position: relative;
			top: -20px;
		}
		.homeblog{
			text-align: center;
			cursor: pointer;
			margin-left: 550px;
			font-size: 20px;
			width: 200px;
			height: 50px;
			background-color: green;
			border-radius: 12px;
		}
		section{
			margin-left: auto;
			margin-right: auto;
			width: 80%;			
		}
		section .menu1{
			display: grid;
			margin-top: 50px;
			grid-template-columns:2fr 6fr;
			
		}
		.menu1image{
			width: 100%;
			height: 300px;
			float: left;
		}
		.menu1desc{
			width: 100%;
			height: 299px;
			float: left;
			border: 1px solid limegreen;
		}
		.name1{
			font-size: 25px;
			color: green;
			margin-top: 0;
			padding-top: 10px;
			padding-left: 10px;
		}
		.iconsmenu{
			display: inline;
		}
		.date,.admin,.comment{
			display: inline;
			color: black;
			margin-top: -5px;
			padding-top: 0px;
			padding-left: 10px; 
			padding-right: 10px;
		}
		.fa,.fa-user,.fa-comment{
			padding-right: 5px;
		}
		.recepie{
			padding: 20px 10px;
			font-family: sans-serif;
			font-size: 20px;
		}
		
		.btn{
			border: none;
  			color: white;
  			background-color: green;
  			padding: 15px 32px;
  			text-align: center;
  			text-decoration: none;
  			display: inline-block;
  			font-size: 16px;
  			margin: 5px 20px;
  			cursor: pointer;
		}
		footer{
			margin-top: 400px;
			margin-bottom: 100px;
		}
		footer .dayfooter{
			display: grid;
			padding-top: 25px;
			grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
    		max-height: 300px;
    		background-color: green;
    		color: white;
		}
		footer h2{
			margin-left: 140px;
			margin-top: 35px;
		}
		.openinghours,.lastopeninghours{
			padding-top: 0px;
			padding-bottom: 25px;
			padding-left: 10px;
		}
		.openinghours{
			border-right: 1px solid whitesmoke;
			height: 50px;
			
		}
		.middlefooter{
			display: grid;
    		grid-template-columns: 5fr 4fr 5fr;
    		height: 375px;
    		background-color: black;
    		padding: 50px;

		}
		.part1name, .part2name, .part3name{
			color: green;
			font-size: 20px;
			padding-bottom: 50px;
		}
		.middlepart1{
			margin-left: 100px;
		}
		.middlepart2{
			margin-left: 30px;
		}
		.middlepart1 a,.middlepart2 a{
			text-decoration: none;
			width: 20px;
   			height:20px;
    		margin-right: 15px;
    		color: green;
		}
		.part1text,.part2text, .part3text{
			color: white;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-right: 15px;
			font-size: 20px;
		}
		.middlepart3{
			margin-left: 100px;
		}
		.middlepart3 input{
			width: 250px;
			height: 50px;
			margin-bottom: 10px;
		}
		.middlepart3 button{
			width: 250px;
			height: 50px;
			background-color: green;
			color: whitesmoke;
		}
 		.footerlast{
 			text-align: center;
 			padding: 30px;
 			font-size: 15px;
 		}
 		.footerlast a{
 			color: green;
 			text-decoration: none;
 		}